.markdown-preview-view .internal-link {
    color: rgb(107,225,172);
}

.markdown-preview-view .external-link {
    color: rgb(107,225,172);
}

.markdown-preview-view .tag {
    color: rgb(107,225,172);
}
